*,
*::before,
*::after {
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  max-inline-size: var(--measure);
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  background: var(--color-neutral-50);
  color: var(--color-neutral-900);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-lg);
}

small {
  font-size: var(--text-sm);
  letter-spacing: 0.05em;
}

a {
  font-size: inherit;
}
