---
import { Breadcrumbs } from 'astro-navigation'
import type { PageFrontmatter } from 'astro-navigation'

export interface Props extends astroHTML.JSX.HTMLAttributes {}

const { ...attrs } = Astro.props
---

<nav aria-label="Breadcrumbs" {...attrs}>
  <Breadcrumbs as="ol" />
</nav>

<style>
  nav :global(ol) {
    list-style: none;
    display: inline-flex;
    column-gap: var(--gap-sm);
    padding: 0;
    margin: 0;
  }

  nav :global(a) {
    color: inherit;
    text-decoration: none;
  }

  nav :global(a:is(:hover, :focus)) {
    color: var(--color-secondary);
    text-decoration: underline;
  }

  nav :global(li:not(:first-child)::before) {
    content: '→';
    padding-right: var(--gap-sm);
    color: var(--color-secondary);
  }
</style>
