---
import NavigationItem from './NavigationItem.astro'
import { findNavigationEntries } from '../utils/navigation.js'
import type { Page } from '../utils/navigation.js'
import type { RequireSome } from '../utils/types'

export interface Props extends RequireSome<astroHTML.JSX.HTMLAttributes, 'aria-label'> { }

const { ...attrs } = Astro.props

const allPages = await Astro.glob<Page>('/src/content/pages/**/*.mdx')
const entries = findNavigationEntries(allPages)
---

<nav {...attrs}>
  <ol>
    {entries.map((entry) => <NavigationItem {...entry} />)}
  </ol>
</nav>

<style>
  ol {
    list-style: none;
    padding-inline-start: 2ch;
    display: flex;
    flex-direction: column;
  }
</style>
