---
import NavigationItem from './NavigationItem.astro'
import { findNavigationEntries } from '../utils/navigation.js'
import type { Page } from '../utils/navigation.js'

export interface Props extends astroHTML.JSX.HTMLAttributes { }

const { ...attrs } = Astro.props

const allPages = await Astro.glob<Page>('/src/pages/**/*.mdx')
const entries = findNavigationEntries(allPages)
---

<nav {...attrs}>
  <ol>
    {entries.map((entry) => <NavigationItem {...entry} />)}
  </ol>
</nav>

<style>
  ol {
    counter-reset: section;
    padding-inline-start: 2ch;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
  }

  ol :global(li) {
    counter-increment: section;
  }

  ol :global(li::marker) {
    content: counters(section, '.') '. ';
    font-weight: 600;
  }
</style>
