---
import NavigationItem from './NavigationItem.astro'
import { findHeadingEntries } from '../utils/navigation.js'
import type { Page } from '../utils/navigation.js'
import type { RequireSome } from '../utils/types'

export interface Props extends RequireSome<astroHTML.JSX.HTMLAttributes, 'aria-label'> {
  page: Page
}

const { page, ...attrs } = Astro.props

const entries = findHeadingEntries(page)
---

<nav {...attrs}>
  <ol>
    {entries.map((entry) => <NavigationItem {...entry} />)}
  </ol>
</nav>

<style>
  ol {
    list-style: none;
    padding-inline-start: 2ch;
    display: flex;
    flex-direction: column;
  }
</style>
