---
import '../assets/theme.css'
import Head from '../components/Head.astro'
import type { Props as HeadProps } from '../components/Head.astro'

export interface Props extends HeadProps { }

const { ...head } = Astro.props
---

<html lang="en">
	<head>
		<Head {...head} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html, body {
		background-color: var(--color-neutral-50);
		color: var(--color-neutral-900);
		padding: 0;
		margin: 0;
		height: 100%;
		overflow: hidden;
	}
</style>