---
import '../assets/css/reset.css'
import '../assets/css/variables.css'
import Head from '../components/Head.astro'
import type { PageFrontmatter } from '../utils/navigation.js'

export interface Props extends PageFrontmatter {}

const { ...head } = Astro.props
---

<html lang="en">
  <head>
    <Head {...head} />
  </head>
  <body>
    <slot />
  </body>
</html>
