---
import type { MDXInstance } from 'astro'
import Layout, { Props as LayoutProps } from './Base.astro'
import Header from '../components/Header.astro'
import Navigation from '../components/Navigation.astro'
import OnThisPage from '../components/OnThisPage.astro'

export interface Props {
  page: MDXInstance<LayoutProps>
}

const { page } = Astro.props
---

<Layout {...page.frontmatter}>
  <Header />

  <main>
    <Navigation />
    <OnThisPage page={page} />

    <page.Content />

    <footer></footer>
  </main>
</Layout>
