---
import type { MDXInstance } from 'astro'
import Layout from './Base.astro'
import Header from '../components/Header.astro'
import Navigation from '../components/Navigation.astro'
import OnThisPage from '../components/OnThisPage.astro'
import Pagination from '../components/Pagination.astro'
import type { Page } from '../utils/navigation.js'

export interface Props {
  page: MDXInstance<Page>
}

const { page } = Astro.props
---

<Layout {...page.frontmatter}>
  <Header />

  <main>
    <Navigation />
    <OnThisPage aria-label="On this page" page={page} />

    <page.Content />

    <Pagination page={page} />

    <footer></footer>
  </main>
</Layout>
