---
import Layout from './Base.astro'
import type { Props as LayoutProps } from './Base.astro'
import Navigation from '../components/Navigation.astro'

export interface Props extends LayoutProps { }

const { ...layout } = Astro.props
---

<Layout {...layout}>
    <main>
        <Navigation />

        <slot />
    </main>
</Layout>